
html {
//  font-size: 16px;
}

body {
    
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
//    font-size: 16px;
    font-weight: 900;
    color: #ffff;
    background-color: #000;
    min-width: 320px;
   margin-left: -170px;
  //  height:100%;
  //  overflow-y: scroll
}


main {
 
    max-width:  1920px;
    margin: 0 auto;
//background-color: #001;
     overflow:hidden;
}
    
img {
       // padding-top: 20px;
    }
    
h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    //font-size: 16px;
    font-weight: 900;
    color: #ffff;
}

.bg_top_left {
    width: 20%;    
    z-index: -1;
    
}
.bg_top_right {
    width: 20%;    
    z-index: -1;
    position:fixed;
    right: 0px;
}
   

#logo_top img{
    width: 20%; 
    
}
#banner {
    width: 85%;
    margin: 0 auto;
}

#slider {
    width: 75%;
    margin: 50px auto;    
}


#tariffs h1{
    //margin: 60px auto;
    
//    font-size: 52px;
}

.tariffs1 h1{
    //margin: 60px auto;
    
    font-size: 3.7vw;
}


.text_green {
    color: #9CD500;
    font-size: 46px;
    font-weight: 900;
}
.text_green1 {
    color: #9CD500;
    font-size: 2.7vw;
    font-weight: 900;
}


#logo_bot img{
    width: 30%; 
}

#text_bot {
    font-weight: 700;
    font-size: 22px;
}

.text_bot1 {
    font-weight: 700;
    font-size: 1.7vw;
    
}


.img_speed {
    width: 30%;
    float: right;
    margin-top: -12%;
    padding-right: -170px;
    z-index: -1;
}
    .button_green {
        background-image: linear-gradient(to right, #E4F600, #9CD500, #82C01C);
        font-size: 100%;    
}

.input_bg {
    background-color: #000;
    border-width: 2px;
    border-color: #9CD500;
    
}


.input_bg:focus {
    background-color: #000;
    border-width: 2px;
    border-color: #9CD500;
    border-spacing: 10px;
    color: #fff;
    
}

.input_bg::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

.input_bg::-ms-input-placeholder { /* Edge 12 -18 */
  color: #fff;
}


.modal_style {
    background-color: #000;
    border-width: 2px;
    border-color: #9CD500;
    color: #9CD500;
}

.modal_style p{
    font-weight: 900;
    //font-size: 22px;
}
